/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    max-width:100%;
    /*border:1px solid gray;*/
}
/*General Styles*/
html {
    font-size: 62.5%;
}
body {
    font-size:1.8rem;
    line-height:1.5;
    color:bisque;
    font-family:'Play', sans-serif;
    background-color:#48494b;
}
h1, h2, h5, h6 {
    font-family:'Archivo', sans-serif;
    text-align: center;
    color:bisque;
}
h1 {
    font-size: 5rem;
}
h2{
    font-size: 3.5rem;
    text-align:center;
    padding: 3%;
    width: 75%;
}
h6 {
    font-size: 1.5rem;
    text-align: center;
}
section {
    padding: 4% 0;
}
a {
    text-decoration:none;
    color:bisque;
}
/*header section styles*/
.title {
    width:100%;
    margin: 0 auto;
    padding: 0;
    border: solid black;
    background-image: url('https://images.unsplash.com/photo-1446729444801-31245ddba81a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}
.main {
    width:100%;
    margin: 0 auto;
    padding: 0;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}
.nav {
    width: 75%;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
.links {
    display: flex;
    justify-content:space-evenly;
}
.links a {
    width:45%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin: 0 5%;
    padding: 3%;
    border-radius: 50%;
    border: solid black;
    background-color:#3e424b;
    color:bisque;
    text-align: center;
}
.links a:hover{
    background-color:bisque;
    color:#3e424b;
}

/*intro styles*/

#Intro {
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    width:100%;
    padding:0;
}
.intro {
    display:flex;
    align-items:center;
    padding:2%;
}
.intro-words {
    width:100%;
    padding: .5%;
    margin: 0 auto;
    color:bisque;
    border:3px solid black;
}
/*empty section*/
.hero-img {
    width:100%;
    height: 40vh;
    border-radius: 8px;
    background-image:url('https://images.unsplash.com/photo-1496670013738-4f730477bfdb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
}

/*projects*/

.projects {
    display:flex;
    padding: 0;
}
.container {
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-evenly;
}
.project1{
    margin: 1% auto;
    padding: 5%;
    width: 15%;
    border-radius: 50%;
    background-image: url('https://images.unsplash.com/photo-1539161486680-830c8f04dcb5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80');
    background-repeat:no-repeat;
    background-size:100%;
}
.project2{
    margin: 1% auto;
    padding: 5%;
    width: 15%;
    border-radius: 50%;
    background-image: url('https://images.unsplash.com/photo-1567983048412-177c435e9e77?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=676&q=80');
    background-repeat:no-repeat;
    background-size:100%;
}
.project3{
    margin: 1% auto;
    padding: 5%;
    width: 15%;
    border-radius: 50%;
    background-image: url('https://images.unsplash.com/photo-1598932025281-f89c3670ac53?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=712&q=80');
    background-repeat:no-repeat;
    background-size:100%;
}
.project4{
    margin: 1% auto;
    padding: 5%;
    width: 15%;
    border-radius: 50%;
    background-image:url('https://images.unsplash.com/photo-1606895857559-ff3eec3220f0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80');
    background-repeat:no-repeat;
    background-position:center;
}
.project1:hover, .project2:hover, .project3:hover, .project4:hover {
    opacity:0.3;
}
.about {
    margin: 1% auto;
    padding: .5%;
    border-radius: 50%;
    border: solid black;
    background-color:#3e424b;
    color:bisque;
    text-align:center;
}
.about:hover {
    background-color:bisque;
    color:#3e424b;
}


/*footer styles*/

.footer {
    width:100%;
    padding:0;
    margin: 0 auto;
    border: solid black;
    color:bisque;
    background-image: url('https://images.unsplash.com/photo-1446729444801-31245ddba81a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    background-repeat:no-repeat;
    background-position:bottom;
    background-size:cover;
}
.contact {
    margin: 0 auto;
    padding: 2%;
    display: flex;
    justify-content:space-around;
    align-items:center;
    flex-direction: column;
}
.copyright {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

/*responsive styles*/
/*responsive styles*/
@media(max-width:800px){
    /*top section*/
    .title{
        border-radius:0;
    }
    /*footer*/
    .footer{
        border-radius:0;
    }
}

@media(max-width: 500px){
   /*top section*/
    .title{
        /*background-image:none;
        background-color:#9e708b;*/
        text-align:center;
        border-radius:0;
    }
    .main{
        flex-direction:column;
    }
    .links{
        width:60%;
        flex-direction:column;
        align-items:center;
        margin:2%;
    }
    /*empty section*/
    .Hero-Img{
        background-position: center;
        height:30vh;
    }
    
    /*projects*/
    .container{
        flex-direction:column;
        flex-wrap:wrap;
        justify-items:center;
    }
    .project1{
        width:100%;
        border-radius:0;
        background-position:center;
    }
    .project2{
        width:100%;
        border-radius:0;
    }
    .project3{
        width:100%;
        border-radius:0;
        background-position:right;
    }
    .project4{
        width:100%;
        border-radius:0;
        background-position:center;
    }
    .about{
        width:100%;
        border-radius:0;
        margin:0;
        padding:0;
    }
    /*footer*/
    .footer{
        border-radius:0;
        margin:0;
        padding:0;
    }
}